<div class="container my-5">
  <h1>
    <i class="fas fa-heart"></i> smartbujo <i class="fas fa-heart"></i>
  </h1>
  <p>
    Select user <select name="user" id="user">
      <% @users.each do |user|  %>
      <option><%= user.email %></option>
      <% end %>
    </select>
  </p>
  <a href="/users/sign_up">
    <button class="btn-outline-dark">+ Add User</button>
  </a>
</div>
<hr>
<div class="container my-5 d-flex">
  <div class="left col-6">
    <h5>New Routine</h5>
    <label for="name"><strong>Name</strong></label>
    <input type="text" name="routine_name" id="routine_name">
    <br>
    <label for="daily">daily</label>
    <input type="radio" name="routine_freq" id="routine_daily">
    <label for="weekly">weekly</label>
    <input type="radio" name="routine_freq" id="routine_weekly">
    <br>
    <button type="submit" class="btn-outline-dark">Create</button>
  </div>
  <div class="right col-6">
    <% @routines.each do |routine| %>
    <ul class="list-group">
      <li class="list-group-item"><%= routine.name %>
        <span class="badge badge-secondary badge-pill"><%= routine.freq_type %></span>
      </li>
    </ul>
    <% end %>
  </div>
</div>
<hr>
<div class="container my-5 d-flex tasks">
  <div class="left col-6">
    <h5>New Task</h5>
    <%= simple_form_for @task do |f| %>
    <%= f.input :name, required: true %>
    <%= f.input :monthly, :label => "Monthly goal" %>
    <%= f.button :submit, 'Create task', class: "btn-outline-dark" %>
    <% end %>
  </div>
  <div class="right col-6">
    <% @tasks.each do |task| %>
    <ul class="list-group">
      <li class="list-group-item task <%= task.done ? 'done' : '' %>">
        <div>
        <%= link_to check_task_path(task) do %>
          <input type="checkbox" id=<%= task.id %> <%= task.done ? 'checked="true"' : '' %>">
        <% end %>
          <%= task.name %>
          <span class="badge badge-secondary badge-pill">
            <%= task.done ? "done" : "todo" %>
          </span>
        </div>
        <%= link_to '<i class="far fa-times-circle"></i>'.html_safe, task_path(task), method: :delete, remote: true %>
      </li>
    </ul>
    <% end %>
  </div>
</div>